@using MarketplaceCSPDemo.Data.Mock.Models
@model IEnumerable<MyOffer>
@{
    Layout = null;
}
<table class="table" id="tbl-offer">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string btnId = "btn-addToCart" + @item.Id;
            string btnCreateCustomerId = "btn-createCustomer" + @item.Id;

            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@string.Format("{0:C}", @item.FinalPrice)</td>
                <td>
                    <button id="@btnId" class="btn btn-outline-primary btn-xs" onclick="DCMS.Order.Create('#@btnId','@item.Id','@item.Name','@item.FinalPrice')"><span class="fa fa-cart"></span>&nbsp;Buy</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function() {
        $('#tbl-offer').DataTable();
    })
</script>
